mixin Border
    .border
        .top
        .midle
        .buttom
        .light

.Side_nave.hide_side
    .Header_Side
        .user_pic
            img(src="images/avatars/av2.png")
        .user_info Makaoui Charif
    +Border
    .Main_Said
        .category_name الرئيسية
        .Label_Group
            .Label_Icon
                i(class="fa fa-home" aria-hidden="true")
            .Label_Name الصفحة الرئيسية
        .Label_Group
            .Label_Icon
                i(class="fa fa-file-text" aria-hidden="true")
            .Label_Name المقالات
        .Label_Group
            .Label_Icon
                i(class="fa fa-tags" aria-hidden="true")
            .Label_Name التصنيفات
    +Border