mixin Border
    .border
        .top
        .midle
        .buttom
        .light

.Side_nave.hide_side
    .Header_Side
        .user_pic
            img(src="images/avatars/av2.png")
        .user_info.dropdown
            span.dropbtn Makaoui Charif
            div.dropdown-content
                a(href="#") Link 1
                a(href="#") Link 2
                a(href="#") Link 3
    +Border
    .Main_Said
        .category_name الرئيسية
        .Label_Group
            .Label_Icon
                i(class="fa fa-home" aria-hidden="true")
            .Label_Name الصفحة الرئيسية
        .Label_Group
            .Label_Icon
                i(class="fa fa-file-text" aria-hidden="true")
            .Label_Name المقالات
        .Label_Group
            .Label_Icon
                i(class="fa fa-tags" aria-hidden="true")
            .Label_Name التصنيفات
    +Border
    .Main_Said
        .category_name التحكم
        .Label_Group
            .Label_Icon
                i(class="fa fa-users" aria-hidden="true")
            .Label_Name الأعضاء
        .Label_Group
            .Label_Icon
                i(class="fa fa-bar-chart" aria-hidden="true")
            .Label_Name الإحصائيات