div._card
    div.Header
        div.Title_Area جدول الأعضاء
        div.Navigation
            div.button.Reduire
                i(class="fa fa-minus" aria-hidden="true")
            div.button.Exit
                i(class="fa fa-times" aria-hidden="true")
    div.Body

        table.table.table-bordered.table-hover.table_users
            thead
                tr
                each val in ['#','', 'إسم المستخدم', 'البريد', 'الإسم الشخصي', 'التحكم']
                    th= val
            tbody
                -for(var i = 0; i<5 ; i++)
                    tr
                        th=i
                        th.user_image
                            img(src="images/avatars/av1.png" height='25px' width='25px')
                        th MrCharif
                        th mrcharifmakaoui@gmail.com
                        th Charif Makaoui
                        th
                            div.btn-group.btn-group-sm(role="group")
                                button.btn.btn-success التعديل
                                button.btn.btn-warning حظر
                                button.btn.btn-danger حذف
