doctype html
html(lang='ar', dir='rtl')
    head
        meta(charset='UTF-8')
        title Web Admin Design
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='../bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet' href='../bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css')
        link(rel='stylesheet' href='../bower_components/carbon/dist/carbon.min.css')
        link(rel='stylesheet' href='../bower_components/carbon/demo/libs/json-tree/css/jsontree.css')
        link(rel='stylesheet' href='../public/css/production.css')

        script(type='text/javascript', src='../bower_components/carbon/demo/libs/json-tree/jsontree.js')

        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file:
        // [if lt IE 9]>
        //<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        //<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        //<![endif]
    body

        div#container
            div#my-editor

        script(type='text/javascript', src='../bower_components/carbon/demo/libs/webcamjs/webcam.js')
        script(type='text/javascript', src='https://apis.google.com/js/client.js')
        script(type='text/javascript', src='../bower_components/carbon/demo/assets/gcs.js')
        script(type='text/javascript', src='../bower_components/carbon/dist/carbon.min.js')
        script(type='text/javascript', src='../public/js/production.min.js')
