doctype html
html(lang='ar', dir='rtl')
    head
        meta(charset='UTF-8')
        title Web Admin Design
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='../bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet' href='../bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css')
        link(rel='stylesheet' href='../public/css/production.css')


        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file:
        // [if lt IE 9]>
        //<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        //<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        //<![endif]
    body
        div.container-fluid
            include Parts/nave_bare.jade
            include Parts/side_bare.jade
            div.content.full_content
                div.row
                    div.col-md-8
                        include Parts/notifications_table.jade
                //div.row
                    div.col-md-4
                        include Parts/articles_states.jade
                    div.col-md-3
                        include Parts/latest_postes_under_review.jade
                //div.row
                    div.col-md-3
                        include Parts/Team.jade
                //div.row
                    div.col-md-12
                        include Parts/users_table.jade
                //div.row
                    div.col-md-12
                        include Parts/articles_table.jade

        script(type='text/javascript', src='../bower_components/Chart.js/dist/Chart.js')
        script(type='text/javascript', src='../public/js/production.min.js')

