@import 'https://fonts.googleapis.com/css?family=Cairo|Mirza|Scheherazade';
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  max-width: 160px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.no-padding {
  padding: 0 !important;
}

.bg-green {
  background-color: #a0d468 !important;
}

.bg-yellow {
  background-color: #ffce55 !important;
}

.bg-red {
  background-color: #ed4e2a !important;
}

body {
  background-color: #ecf2f6;
}

.Header_nav {
  position: absolute;
  top: 0;
  height: 82px;
  background-color: #ffffff;
  width: 100%;
}
.Header_nav .right_area .right_ele {
  display: flex;
  width: 100%;
}
.Header_nav .right_area .right_ele .menu_button {
  width: 82px;
  border-left: 1px solid #eeeff3;
}
.Header_nav .right_area .right_ele .menu_button:hover {
  background-color: #15a4fa;
}
.Header_nav .right_area .right_ele .menu_button:hover i {
  color: #ffffff;
}
.Header_nav .right_area .right_ele .menu_button button {
  width: 82px;
}
.Header_nav .left_area {
  position: relative;
}
.Header_nav .left_area .button_setting:hover {
  background-color: #15a4fa;
}
.Header_nav .left_area .button_setting:hover i {
  color: #ffffff;
}
.Header_nav i {
  font-size: 22px;
  color: #aeb6c1;
}
.Header_nav input {
  font-size: 22px;
  font-family: serif;
  color: #aeb6c1;
}
.Header_nav .button_setting {
  width: 82px;
}
.Header_nav .button_setting button {
  border-right: 1px solid #eeeff3;
  width: 100%;
}
.Header_nav .to_left {
  float: left;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  display: flex;
}

.Side_nave {
  width: 200px;
  position: absolute;
  background: #354052;
  right: 0;
  top: 0;
  bottom: 0;
}
.Side_nave .Header_Side {
  padding-bottom: 20px;
}
.Side_nave .Header_Side .user_pic {
  position: relative;
  height: 130px;
}
.Side_nave .Header_Side .user_pic img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;
  border-radius: 50%;
}
.Side_nave .Header_Side .user_info {
  margin-top: -10px;
  font-size: 16px;
  font-weight: 600;
  color: #a0acbf;
  text-align: center;
  width: 100%;
}
.Side_nave .Main_Said {
  margin-top: 20px;
  padding-bottom: 20px;
}
.Side_nave .Main_Said .category_name {
  color: #65748d;
  font-size: 15px;
  font-family: "Cairo", sans-serif;
  padding-right: 14px;
  margin: 5px 0 16px 0;
  font-weight: 600;
  cursor: context-menu;
}
.Side_nave .Main_Said .Label_Group {
  display: flex;
  height: 42px;
  cursor: pointer;
}
.Side_nave .Main_Said .Label_Group .Label_Icon {
  height: 24px;
  width: 24px;
  margin-right: 25px;
  margin-top: 9px;
}
.Side_nave .Main_Said .Label_Group .Label_Icon i {
  font-size: 24px;
  color: #a0acbf;
}
.Side_nave .Main_Said .Label_Group .Label_Name {
  color: #a0acbf;
  font-size: 15px;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  height: 24px;
  margin-right: 10px;
  margin-top: 9px;
}
.Side_nave .Main_Said .Label_Group:hover {
  border-right: 5px solid #15a4fa;
  background-color: #303949;
}
.Side_nave .Main_Said .Label_Group:hover .Label_Icon i {
  color: #ffffff;
}
.Side_nave .Main_Said .Label_Group:hover .Label_Name {
  color: #ffffff;
}
.Side_nave .border .top {
  width: 100%;
  height: 2px;
  background-color: #293241;
}
.Side_nave .border .midle {
  width: 100%;
  height: 2px;
  background-color: #303a4a;
}
.Side_nave .border .buttom {
  width: 100%;
  height: 2px;
  background-color: #293241;
}
.Side_nave .border .light {
  width: 100%;
  height: 2px;
  background-color: #3d495d;
}

.Item_Team {
  height: 80px;
  margin: 0 0;
  cursor: pointer;
}
.Item_Team:hover {
  background-color: rgba(196, 197, 212, 0.2);
}
.Item_Team .user_pic {
  margin-top: 15px;
}
.Item_Team .user_pic img {
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
}
.Item_Team .user_info {
  margin-top: 22px;
}
.Item_Team .user_info .user_name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: #515974;
}
.Item_Team .user_info .user_role {
  font-size: 14px;
  font-weight: 100;
  color: #c3c5d4;
}

._card {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
._card .Header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #6f7d95;
  display: flex;
  color: #f6f6f8;
}
._card .Header .Title_Area {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Droid Arabic Naskh", serif;
  font-size: 13px;
  font-weight: 600;
  cursor: context-menu;
}
._card .Header .Title_Area span {
  font-size: 11px;
  color: #d1d5de;
  margin-right: 7px;
}
._card .Header .Navigation {
  position: absolute;
  left: 2px;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
._card .Header .Navigation .button {
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  margin-left: 2px;
}
._card .Header .Navigation .button i {
  margin-top: 5px;
}
._card .Header .Navigation .button:hover {
  background-color: rgba(93, 76, 76, 0.4);
}
._card .card_body_padding {
  padding: 12px;
}
._card .Body {
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.02);
}

.table_users thead tr {
  font-size: 14px;
  font-weight: bold !important;
  font-family: "Cairo", sans-serif;
}
.table_users tbody tr {
  height: 50px;
}
.table_users .user_image {
  position: relative;
  width: 50px;
  min-width: 50px;
}
.table_users .user_image img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px solid #6f7d95;
  position: absolute;
  top: 7px;
  bottom: 0;
  left: 0;
  right: 7px;
}
.table_users .btns_control {
  min-width: 128px;
}

.table_articles thead th {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Droid Arabic Naskh Cairo", sans-serif;
}
.table_articles thead .articleControlle {
  width: 100px;
}
.table_articles tbody {
  font-family: "Droid Arabic Naskh", serif;
}
.table_articles tbody td {
  text-align: center;
  vertical-align: middle !important;
}
.table_articles tbody .articleTitle {
  width: 200px;
  font-size: 14px;
}
.table_articles tbody .articleTitle h3 {
  width: 100%;
  padding: 0 10px;
  text-align: justify;
  font-size: 14px;
  margin: 0;
  line-height: 1.6;
  font-weight: 100;
}
.table_articles tbody .articleDesc {
  width: 300px;
  font-size: 12px;
}
.table_articles tbody .articleDesc p {
  width: 100%;
  padding: 0 10px;
  text-align: justify;
  margin: 0;
  font-weight: 100;
}
.table_articles tbody .articleTag {
  width: 80px;
  font-size: 14px;
}
.table_articles tbody .articleControlle {
  width: 100%;
  display: block;
  font-size: 11px;
}
.table_articles tbody .articleControlle button {
  height: 24px;
  width: 100% !important;
  padding: 3px;
  margin: 0;
  border: 0;
  display: block;
  border-radius: 0;
  font-size: 11px;
}

.article_item {
  position: relative;
  padding: 7px 10px;
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
  font-family: "Droid Arabic Naskh", serif;
}
.article_item .left_area .article_title {
  font-size: 13px;
  color: #777777;
}
.article_item .left_area .date_pub {
  font-size: 10px;
  margin-top: 4px;
  margin-right: 6px;
  color: #999999;
}
.article_item .left_area .date_pub i {
  margin-left: 6px;
}
.article_item .right_area {
  position: relative;
  min-height: 50px;
}
.article_item .right_area .controller_in_review {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777777;
  font-size: 10px;
  font-weight: 600;
}
.article_item .show_article {
  position: absolute;
  left: -12px;
  top: -webkit-calc(50% - 13px);
  top: -moz-calc(50% - 13px);
  top: calc(50% - 13px);
  width: 24px;
  height: 24px;
  font-size: 13px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #fff;
  vertical-align: middle;
  color: #2dc3e8;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.article_item .show_article i {
  font-size: 13px;
  margin-top: 4.2px;
}

.notif_main .notif_container {
  position: relative;
  padding: 25px 25px;
  background-color: #f5f5f5;
}
.notif_main .notif_container .notification_list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  font-family: "Droid Arabic Naskh", serif;
}
.notif_main .notif_container .notification_list .notification_item {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 8px;
  padding: 0 15px;
  vertical-align: top;
  transition: background-color 0.6s ease;
}
.notif_main .notif_container .notification_list .notification_item:hover {
  background-color: rgba(216, 215, 215, 0.33);
}
.notif_main .notif_container .notification_list .notification_item .divider {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 1px;
  background-color: #eee;
  display: inline-block;
}
.notif_main .notif_container .notification_list .notification_item .notification_user {
  height: 50px;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.notif_main .notif_container .notification_list .notification_item .notification_user img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.notif_main .notif_container .notification_list .notification_item .notification_user .user_name {
  margin-right: 10px;
  font-size: 13px;
  color: #969393;
}
.notif_main .notif_container .notification_list .notification_item .notification_user .whats_doing {
  margin-right: 5px;
  color: #777676;
  font-size: 13px;
}
.notif_main .notif_container .notification_list .notification_item .notification_user .whats_effect {
  margin-right: 5px;
  color: #777676;
}
.notif_main .notif_container .notification_list .notification_item .notification_time {
  line-height: 30px;
  height: 50px;
  padding: 10px;
}
.notif_main .notif_container .notification_list .notification_item .notification_time i {
  color: #ccc;
}
.notif_main .notif_container .notification_list .notification_item .notification_time .time {
  color: #999;
  font-size: 11px;
  margin-right: 5px;
  text-transform: uppercase;
}
.notif_main .notif_container .notification_list .notification_item .notification_type {
  line-height: 30px;
  height: 50px;
  padding: 10px;
}
.notif_main .notif_container .notification_list .notification_item .notification_type .type {
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
}
.notif_main .notif_container .notification_list .notification_item .notification_state {
  position: absolute;
  top: 13px;
  left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: #e5e5e5;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
}
.notif_main .notif_container .notification_list .notification_item .notification_state i {
  font-size: 13px;
  color: #fff;
  line-height: 20px;
}

.carbon section {
  padding: 10px 0;
}
.carbon .carbon-layout {
  max-width: 90% !important;
  padding: 0 10px;
}

.content {
  margin-top: 80px;
  padding: 15px;
}

.hide_side {
  right: -200px !important;
  transition: right 0.6s ease;
}

.show_side {
  right: 0 !important;
  transition: right 0.6s ease;
}

.min_nav {
  padding-right: 200px;
  transition: padding-right 0.6s ease;
}
.min_nav .menu_button {
  background-color: #15a4fa;
}
.min_nav .menu_button i {
  color: #ffffff;
}

.full_nav {
  padding-right: 0;
  transition: padding-right 0.6s ease;
}

.min_content {
  padding-right: 215px;
  transition: padding-right 0.6s ease;
}

.full_content {
  padding-right: 15px;
  transition: padding-right 0.6s ease;
}

.vertical-center {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
}

._transparent {
  background-color: transparent !important;
  border: none !important;
  outline: none;
}

/*BootStrap elimination */
._paddingLeft_right {
  padding-left: 0;
  padding-right: 0;
}

/*# sourceMappingURL=production.css.map */
