.Header_nav.row.full_nav
    .right_area.Search_area.col-md-6.vertical-center._paddingLeft_right
        .right_ele
            .menu_button.vertical-center
                .vertical-center
                    button.btn.btn-link
                        i.fa.fa-bars(aria-hidden='true')
            .vertical-center
                button.btn.btn-link
                    i.fa.fa-search(aria-hidden='true')
                input#search_in._transparent(type='search', placeholder='البحث ...')
    .left_area.Settings_are.col-md-6.vertical-center._paddingLeft_right
        .to_left
            .button_setting.vertical-center
                button.btn.btn-link
                    i.fa.fa-cogs(aria-hidden='true')
            .button_setting.vertical-center
                button.btn.btn-link
                    i.fa.fa-bell-o(aria-hidden='true')
            .button_setting.vertical-center
                button.btn.btn-link
                    i.fa.fa-lock(aria-hidden='true')

