div._card
    div.Header
        div.Title_Area التنبيهات
        div.Navigation
            div.button.Reduire
                i(class="fa fa-compress" aria-hidden="true")
            div.button.Agrendire.hidden
                i(class="fa fa-expand" aria-hidden="true")
            div.button.Exit
                i(class="fa fa-times" aria-hidden="true")
    div.Body.card_body_padding
        div.notif_main.no-padding
            div.notif_container
                ul.notification_list
                    li.notification_item
                        div.row
                            div.notification_user.col-lg-6.col-sm-12
                                a(href="#")
                                    img.user_avatar(src='images/avatars/av1.png')
                                a(href='#').user_name MrCharif
                                span.whats_doing قام بكتابة
                                a.whats_effect(href='#') مقال جديد
                            div.notification_time.col-lg-4.col-sm-6.col-xs-12
                                div.divider
                                i.fa.fa-clock-o
                                span.time منذ 5 دقائق
                            div.notification_type.col-lg-2.col-sm-6.col-xs-12
                                div.divider
                                span.type تحتاج مراجعة
                            div.notification_state.bg-yellow
                                i.fa.fa-info

                    li.notification_item
                        div.row
                            div.notification_user.col-lg-6.col-sm-12
                                a(href="#")
                                    img.user_avatar(src='images/avatars/av1.png')
                                a(href='#').user_name Hicahm
                                span.whats_doing قام بمراجعة
                                a.whats_effect(href='#') المقالة
                            div.notification_time.col-lg-4.col-sm-6.col-xs-12
                                div.divider
                                i.fa.fa-clock-o
                                span.time منذ 5 دقائق
                            div.notification_type.col-lg-2.col-sm-6.col-xs-12
                                div.divider
                                span.type تم النشر
                            div.notification_state.bg-green
                                i.fa.fa-check

                    li.notification_item
                        div.row
                            div.notification_user.col-lg-6.col-sm-12
                                a(href="#")
                                    img.user_avatar(src='images/avatars/av1.png')
                                a(href='#').user_name Ridq
                                span.whats_doing قام بمراجعة
                                a.whats_effect(href='#') المقالة
                            div.notification_time.col-lg-4.col-sm-6.col-xs-12
                                div.divider
                                i.fa.fa-clock-o
                                span.time منذ 5 دقائق
                            div.notification_type.col-lg-2.col-sm-6.col-xs-12
                                div.divider
                                span.type ملغية
                            div.notification_state.bg-red
                                i.fa.fa-close