div._card
    div.Header
        div.Title_Area جدول الأعضاء
        div.Navigation
            div.button.Reduire
                i(class="fa fa-compress" aria-hidden="true")
            div.button.Agrendire.hidden
                i(class="fa fa-expand" aria-hidden="true")
            div.button.Exit
                i(class="fa fa-times" aria-hidden="true")
    div.Body
        -for( var x = 0 ; x < 3; x++)
            div.Item_Team.row
                div.user_pic.col-md-3
                    img(src='images/avatars/av1.png' alt='tt')
                div.user_info.col-md-9
                    h3.user_name Rida Dahhane
                    span.user_role UI/UX Designer