div._card
    div.Header
        div.Title_Area محرر المقال
        div.Navigation
            div.button.Reduire
                i(class="fa fa-compress" aria-hidden="true")
            div.button.Agrendire.hidden
                i(class="fa fa-expand" aria-hidden="true")
            div.button.Exit
                i(class="fa fa-times" aria-hidden="true")
    div.Body
        div#TextEditor



