.article_item
  position: relative
  padding: 7px 10px
  vertical-align: top
  border-bottom: 1px solid #e5e5e5
  font-family: "Droid Arabic Naskh", serif
  .left_area
    .article_title
      font-size: 13px
      color: #777777
    .date_pub
      font-size: 10px
      margin-top: 4px
      margin-right: 6px
      color: #999999
      i
        margin-left: 6px
  .right_area
    position: relative
    min-height: 50px
    .controller_in_review
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      display: flex
      align-items: center
      justify-content: center
      color: #77777b
      font-size: 10px
      font-weight: 600
  .show_article
    position: absolute
    left: -12px
    -lh-property: 0
    top: -webkit-calc(50% - 13px)
    top: -moz-calc(50% - 13px)
    top: calc(50% - 13px)
    width: 25px
    height: 25px
    font-size: 14px
    text-align: center
    border-radius: 50%
    background-color: #fff
    border: 3px solid #fff
    vertical-align: middle
    color: #2dc3e8
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2)
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2)
    box-shadow: 0 0 3px rgba(0,0,0,.2)
    i
      font-size: 12px
      margin-top: 4.2px

