@import 'https://fonts.googleapis.com/css?family=Cairo|Mirza|Scheherazade';
body {
  background-color: #ecf2f6;
  height: 70%; }

.Header_nav {
  position: absolute;
  top: 0;
  height: 82px;
  background-color: #ffffff;
  width: 100%; }
  .Header_nav .right_area .right_ele {
    display: flex;
    width: 100%; }
    .Header_nav .right_area .right_ele .menu_button {
      width: 82px;
      border-left: 1px solid #eeeff3; }
      .Header_nav .right_area .right_ele .menu_button:hover {
        background-color: #15a4fa; }
        .Header_nav .right_area .right_ele .menu_button:hover i {
          color: #ffffff; }
      .Header_nav .right_area .right_ele .menu_button button {
        width: 82px; }
  .Header_nav .left_area {
    position: relative; }
    .Header_nav .left_area .button_setting:hover {
      background-color: #15a4fa; }
      .Header_nav .left_area .button_setting:hover i {
        color: #ffffff; }
  .Header_nav i {
    font-size: 22px;
    color: #aeb6c1; }
  .Header_nav input {
    font-size: 22px;
    font-family: serif;
    color: #aeb6c1; }
  .Header_nav .button_setting {
    width: 82px; }
    .Header_nav .button_setting button {
      border-right: 1px solid #eeeff3;
      width: 100%; }
  .Header_nav .to_left {
    float: left;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    display: flex; }

.Side_nave {
  width: 200px;
  position: absolute;
  background: #354052;
  right: 0;
  top: 0;
  bottom: 0; }
  .Side_nave .Header_Side {
    padding-bottom: 20px; }
    .Side_nave .Header_Side .user_pic {
      position: relative;
      height: 130px; }
      .Side_nave .Header_Side .user_pic img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 80px;
        min-width: 80px;
        max-height: 80px;
        min-height: 80px;
        border-radius: 50%; }
    .Side_nave .Header_Side .user_info {
      margin-top: -10px;
      font-size: 16px;
      font-weight: 600;
      color: #a0acbf;
      text-align: center; }
  .Side_nave .Main_Said {
    margin-top: 20px;
    padding-bottom: 20px; }
    .Side_nave .Main_Said .category_name {
      color: #65748d;
      font-size: 15px;
      font-family: "Cairo", sans-serif;
      padding-right: 14px;
      margin: 5px 0 16px 0;
      font-weight: 600;
      cursor: context-menu; }
    .Side_nave .Main_Said .Label_Group {
      display: flex;
      height: 42px;
      cursor: pointer; }
      .Side_nave .Main_Said .Label_Group .Label_Icon {
        height: 24px;
        width: 24px;
        margin-right: 25px;
        margin-top: 9px; }
        .Side_nave .Main_Said .Label_Group .Label_Icon i {
          font-size: 24px;
          color: #a0acbf; }
      .Side_nave .Main_Said .Label_Group .Label_Name {
        color: #a0acbf;
        font-size: 15px;
        font-family: "Cairo", sans-serif;
        font-weight: 600;
        height: 24px;
        margin-right: 10px;
        margin-top: 9px; }
      .Side_nave .Main_Said .Label_Group:hover {
        border-right: 5px solid #15a4fa;
        background-color: #303949; }
        .Side_nave .Main_Said .Label_Group:hover .Label_Icon i {
          color: #ffffff; }
        .Side_nave .Main_Said .Label_Group:hover .Label_Name {
          color: #ffffff; }
  .Side_nave .border .top {
    width: 100%;
    height: 2px;
    background-color: #293241; }
  .Side_nave .border .midle {
    width: 100%;
    height: 2px;
    background-color: #303a4a; }
  .Side_nave .border .buttom {
    width: 100%;
    height: 2px;
    background-color: #293241; }
  .Side_nave .border .light {
    width: 100%;
    height: 2px;
    background-color: #3d495d; }

.hide_side {
  right: -200px !important;
  transition: right 0.6s ease; }

.show_side {
  right: 0 !important;
  transition: right 0.6s ease; }

.min_nav {
  padding-right: 200px;
  transition: padding-right 0.6s ease; }
  .min_nav .menu_button {
    background-color: #15a4fa; }
    .min_nav .menu_button i {
      color: #ffffff; }

.full_nav {
  padding-right: 0;
  transition: padding-right 0.6s ease; }

.vertical-center {
  min-height: 100%;
  display: -webkit-flex;
  display: flex; }

._transparent {
  background-color: transparent !important;
  border: none !important;
  outline: none; }

/*BootStrap elimination */
._paddingLeft_right {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=global.css.map */
